/*-------------------- BODY --------------------*/

body {
    background-image: url(../img/kohaifondo.png);
    background-attachment: fixed;
    background-size: 48rem; 
    
    #error404{
        width: 100%;
    }

}